*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
}

.page {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.header-navigation {
	text-align: center;
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
}

.header-navigation li {
	display: inline-block;
	margin-top: 26px;
	margin-bottom: 26px;
	margin-right: 36px;
	margin-left: 36px;
}

.header-navigation a {
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	align-items: center;
	text-transform: uppercase;
	color: #FF0000;
}

.banner {
	padding-top: 0px;
	padding-bottom: 0px;
}

.banner-title {
	width: 774px;
	height: 29px;
	font-weight: 700;
	font-size: 22px;
	text-align: center;
	line-height: 27px;
	text-transform: uppercase;
	color: #373737;
	margin-top: 49px;
	margin-right: 253px;
	margin-bottom: 38px;
	margin-left: 253px;
}

.banner-text {
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #373737;
	margin-top: 0;
	margin-right: 68px;
	margin-bottom: 28px;
	margin-left: 68px;
}

.banner-action {
	width: 191px;
	height: 51px;
	left: 544.5px;
	top: 557px;
	background: #FF0000;
	border: none;
	margin-top: 38px;
	margin-right: 545px;
	margin-bottom: 42px;
	margin-left: 545px;
	font-weight: 700;
	font-size: 12px;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
}


footer {
	padding-top: 40px;
	padding-right: 105px;
	padding-bottom: 29px;
}

.footer-copyright {
	font-weight: 700;
	font-size: 16px;
	text-align: right;
	color: #373737;
}